.g-barchart {
    width: 100%;
    // height: 400px;
}

.g-barchart .axis path,
.g-barchart .axis line {
    stroke: #999;
}

.g-barchart .axis text {
    fill: #999;
}

// .card {
//     border: 1px solid black;
// }